" =====================================================
" Common Settings
" =====================================================
set scrolloff=10
set showmode
set showcmd
set smartcase
set incsearch
set hlsearch
set visualbell
set clipboard+=unnamed
let mapleader=" "

" =====================================================
" Plugins
" =====================================================
set anyobject
set argtextobj
set commentary

" set easymotion

set peekaboo

set dial
set exchange
set highlightedyank
set mini-ai
set nerdtree
set quickscope
set multiple-cursors


" =====================================================
" Plugin Settings
" =====================================================

" config argtextobj 
let g:argtextobj_pairs="(:),{:},<:>"

" config flash
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

nmap f <Action>(flash.find)
xmap f <Action>(flash.find)

nmap F <Action>(flash.find_backward)
xmap F <Action>(flash.find_backward)

nmap t <Action>(flash.till)
xmap t <Action>(flash.till)

nmap T <Action>(flash.till_backward)
xmap T <Action>(flash.till_backward)

nmap ; <Action>(flash.repeat)
xmap ; <Action>(flash.repeat)

nmap , <Action>(flash.repeat_backward)
xmap , <Action>(flash.repeat_backward)


" config multiple cursors
" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g.
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

" =====================================================
" Mappings: Common
" =====================================================

inoremap jk <Esc>
map <leader>e :NERDTreeToggle<CR>
nnoremap <leader>j J

" clear search highlight
nnoremap <leader>h :nohlsearch<CR>

" easy visual indentation
vnoremap < <gv
vnoremap > >gv

" quick write/quit
nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader>x :x<CR>

" insert blank line above/below without insert mode
nnoremap <leader>o o<Esc>
nnoremap <leader>O O<Esc>

" =====================================================
" Mappings: Faster Movement
" =====================================================
nnoremap J 8j
nnoremap K 8k
nnoremap H ^
nnoremap L $

" =====================================================
" Mappings: Tab Navigation
" =====================================================
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" =====================================================
" Mappings: Windows & Splits
" =====================================================
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j
nnoremap <leader>sv :vsplit<CR>
nnoremap <leader>sh :split<CR>
nnoremap <leader>tc :tabnew<CR>
nnoremap <leader>to :tabonly<CR>
